.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.ipr
*.iws
.idea/
android/.gradle/
android/captures/
android/local.properties
android/GeneratedPluginRegistrant.java
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/.last_build_id
ios/Pods/
.DS_Store
pubspec.lock
